# Environments & Python
.venv/
venv/
ENV/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
*.egg-info/

# Environment Variables & Secrets
.env
*.local

# System files & IDEs
.DS_Store
Thumbs.db
.vscode/
.idea/
